@font-face {
    font-family: poppins;
    src: url(./Poppins-Bold.ttf);
}

.body, html{
    margin: 0px;
    font-family: 'poppins';
}

.BGImage{
    position: absolute;
    z-index: -100;
    margin-top: -1.5vh;
    margin-left:86.55vh;

}
.body{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.intro{
    display: flex;
    flex-direction: row;
    height: 80% ;
    width: 100vw;

    
}
.leftSide h1{
    font-weight: 1000;
    font-size: 40px;
    
}


.leftSide{
    height: 60vh;
    width:38%;
    margin-top: 35vh;
    margin-left: 20vh;
    font-size: 18px;
    

}
.leftSide h1, p{
    margin-bottom:4vh;
}

.rightSide{
    display: flex;
    flex-direction: row;
    margin-top: -6vh;
    margin-right: 10vh;
    
    width: 52%;
}
.leftSide h3,p,button {
    margin: 10px 0px;
}

#button{
    height: 40px;
    width: 160px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 550;
    background-color:rgb(112, 55, 187);
    color: white

}

#button:hover{
    background-color:rgb(63, 62, 62);

}

.navBar{
    margin-top: 8vh;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20%;
    
    
    
}

.smallButtons{
    margin-right: 15vh;
    margin-left: 3vh;

    
}

.smallButton{
    margin-top: 4vh;
    margin-left: 8px;
    outline: none;
    background: transparent;
    border: none;
    color: white;
    font-weight: 200;
    opacity: 80%;
    font-size: 15px;
    
    
}

.smallButton:hover{
    color: rgb(36, 15, 65);
}

.bigButton{
    height: 6vh;
    width: 6.6vw;
    display: inline;
    background: transparent;
    margin-right: 8px;
    border: 1px solid;
    border-width: 2px solid;
    border-radius: 4px;
    font-weight: 700;
    color:white

}
#signUp{
    background-color:rgb(63, 62, 62);
    border: none;
    color: white;
}

#signUp:hover{
    background-color:rgb(72, 29, 128);
    border-width: 2px;
    border-color: white;

}

 .bigButton:hover{
    background-color:rgb(63, 62, 62);
     color: white;
     border: none;
 }

 #picture1{
     position: absolute;
     margin-top: 20vh;
     margin-right: 100vh;
 }
 
 #playSign{
     position: absolute;
     margin-top: 48vh;
     margin-left: 34vh;
     height: 120px;
     color: white;

 }

.part2{
    margin-left: 6.8vw;
    width: 85vw;
    margin-top: 30vh;
    display: flex;
    justify-content: space-around;

}
 .part2 p{
    font-size: 17px;
 }
 .border{
    height: 80px;
    width: 80px;
    border: 2px solid rgb(72, 29, 128);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondBox .border{
    background-color: rgb(72, 29, 128);
}
.border img{
    width: 40px; 
}

.part3{
    margin: 26vh 0vh 10vh 20vh;
    display: flex;
    flex-direction: row;
}

.rightSideBox{
    margin-left: 15vh;
    margin-top: 7vh;
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

.rightSideBox h1{
    margin-bottom: 6vh;
    font-weight: 1000;
}
.line {
    display: flex;
    flex-direction: row;
}

.line p{
    margin-left: 2vh;
    font-size: 19px;
}

.buttons{
    margin-top: 10vh;
}
#watchVideo{
    height: 40px;
    width: 160px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 15px;
    font-weight: 550;
    color:rgb(112, 55, 187);
    
}
#watchVideo:hover{
    background-color: rgb(112, 55, 187);
    border-radius: 5px;
    color: white;
}
.buttons img{
    width: 35px;
    position: absolute;
    padding-top: 1.5vh;
}

.text1{
    margin-top: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text1 h1{
    font-weight: 5000;
    margin-bottom: .8vh;
}

.johnDoe{
    margin-top: 10vh;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.johnDoe img, h1,h5 {
    margin: -2vh 0vw;
}

.johnDoe h5{
padding-top: 4vh;

}
.ourStory{
    margin-top: 15vh;
    height: 11vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.info{
    margin-left: 5vw;
    width: 90%;
    margin-top: 18vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.leftInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rightInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.whoWeAre{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.whatsUp{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
 
#bird, #hand{
    margin-right: 3vh;
    margin-top: 0vh;
}

.ourRecentPost{
    margin-top: 20vh;
    height: 11vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.pictures3{
    margin-bottom: 30vh;
    margin-left: 12vh;
    width: 88%;
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.pictures3 h1 {
    margin: 15px 0px;
}

#purpleBox{
    margin-bottom: 30vh;
    margin-left:7vw;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(36, 15, 65) ;
    width: 83vw;
    height:40vh ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(66, 32, 158);
}

.insidePurpleBox{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 10vh;
    
}

#emailEntry{
    height: inherit;
    width: 100%;
    background: transparent;
    outline: none;
    border: none;
    color:rgb(226, 223, 223);
    padding-left: 1vw;
    font-weight: bolder;
    font-size: 17px;
    
}

.insidePurpleBox input::placeholder{
    color: rgb(180, 175, 175);
    padding-left: 1vw;
    
}
.insidePurpleBox h3{
    color:rgb(226, 223, 223);
    font-weight: bolder;
    font-size: 20px;
}
.inputBox {
    margin-top: 2vh;
    height: 9vh;
    width: 25vw;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    border: 2px solid rgb(128, 125, 125);

}
.inputBox #Hline{
    margin-top: 1.5vh;
    margin-right: .8vw;
    display: flex;
    flex-direction: row;
    height: 70%;
    width: 3px;
    background-color: rgb(128, 125, 125);
}

.inputBox img{
    padding-right: 1vw;

}

#topBGShape{
    position: absolute;
    margin-top: 14vh;
    padding-right: 53vw;
}
#bottomBGShape{
    position: absolute;
padding-left: 43vw;
margin-top: -14vh; 
-webkit-transform: scaleX(-1);
  transform: scaleX(-1); 
  transform: scaleY(-1);   
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 85%;
    margin-left: 6.9vw;
    border-top: 1px solid rgb(204, 203, 203);
    border-bottom: 1px solid rgb(204, 203, 203);
    padding-top: 5vh;
    padding-bottom: 5vh;
    
}

.quickLinks h3, .pages h3, .legalStuff h3{
    margin-bottom: 5vh;
}

.discribtion{
    margin-top: 5%;
    color: rgb(63, 62, 62);
}

.links p{
    font-size: 15px;
    color: rgb(85, 85, 85);
}

.links p:hover{
    color: rgb(86, 53, 177);
    
}